div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 3rem;
}

h1 {
    font-size: 1.5rem;
    font-weight: 300;
    color: hsl(0, 0%, 59%);
    margin-top: 2rem;
}

h1 span {
    font-weight: 700;
    color: hsl(209, 33%, 12%);
}

img {
    width: 25%;
}

p {
    font-size: 0.8rem;
}